In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)  # Establece una opci√≥n de Pandas para mostrar todas las columnas de un DataFrame.

1. Hacer las importaciones necesarias para abrir un archivo de tipo "csv" en Pandas.

In [2]:
df_videogames = pd.read_csv("videogames.csv")

2. Abrir el archivo, creando un Dataframe. Aseguraros de que no incluye la columna "Unnamed: 0".

In [3]:
df_videogames

,Unnamed: 0,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20798,20798,"Enjoy Your Power, Enjoy Your Choice",https://www.imdb.com/title/tt3845606/?ref_=adv...,2014.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20799,20799,RedSun2020,https://www.imdb.com/title/tt0790739/?ref_=adv...,2004.0,NaN,NaN,NaN,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True
20800,20800,Shutter,https://www.imdb.com/title/tt5119948/?ref_=adv...,2015.0,NaN,NaN,NaN,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True
20801,20801,The Music Machine,https://www.imdb.com/title/tt5142082/?ref_=adv...,2015.0,NaN,NaN,NaN,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True
20802,20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

3. Una vez creado el Dataframe, muestra las 10 primeras filas.

In [4]:
df_videogames.head(10)

,Unnamed: 0,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False
5,5,The Last of Us: Part II,https://www.imdb.com/title/tt6298000/?ref_=adv...,2020.0,M,8.5,"30,460","Five years after the events of The Last of Us,...",True,True,False,False,False,False,False,False,False
6,6,Horizon Forbidden West,https://www.imdb.com/title/tt12496904/?ref_=ad...,2022.0,T,9.2,"2,979",Aloy treks into an arcane region and faces new...,True,True,False,False,False,False,True,False,False
7,7,The Last of Us,https://www.imdb.com/title/tt2140553/?ref_=adv...,2013.0,M,9.7,"60,590","In a hostile, post-pandemic world, Joel and El...",True,True,False,False,False,False,False,False,False
8,8,Detroit: Become Human,https://www.imdb.com/title/tt5158314/?ref_=adv...,2018.0,M,9.2,"16,907",Take control of three androids in their quest ...,True,True,False,False,False,False,False,False,False
9,9,Death Stranding,https://www.imdb.com/title/tt5807606/?ref_=adv...,2019.0,M,8.8,"8,136",Deliveryman Sam Porter must travel across a ra...,True,True,False,False,False,False,False,False,False

4. ¬øC√∫al es el √∫ltimo √≠ndice que tenemos en el Dataframe?

In [15]:
indice_videogrames = df_videogames.tail(1)
indice_videogrames

,Unnamed: 0,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
20802,20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

5. Mostrar 15 filas aleatorias.

In [17]:
aleatorio_videogames = df_videogames.sample(15)
aleatorio_videogames

,Unnamed: 0,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
9745,9745,Hatsune Miku: Gurafi korekushon,https://www.imdb.com/title/tt6094144/?ref_=adv...,2016.0,NaN,NaN,NaN,Add a Plot,True,False,False,False,False,False,False,False,False
16709,16709,Rafiki's Challenge,https://www.imdb.com/title/tt7653712/?ref_=adv...,2004.0,NaN,NaN,NaN,Rafiki has a little challenge for kids to test...,False,False,False,False,True,False,False,False,False
5967,5967,Densetsu no Yuusha no Densetsu: Legendary Saga,https://www.imdb.com/title/tt6725428/?ref_=adv...,2010.0,NaN,NaN,NaN,Add a Plot,True,True,False,False,False,False,False,False,False
9474,9474,Death to Spies,https://www.imdb.com/title/tt15235364/?ref_=ad...,2007.0,M,NaN,NaN,Add a Plot,True,True,False,False,False,False,False,False,True
14191,14191,Down the Rabbit Hole,https://www.imdb.com/title/tt13470038/?ref_=ad...,2020.0,NaN,NaN,NaN,Add a Plot,False,True,False,False,False,False,False,False,False
4538,4538,Tiny Tank,https://www.imdb.com/title/tt0396897/?ref_=adv...,1999.0,T,7.6,20,"Before 2098 A.D., all of Earth's armed forces ...",True,False,True,False,False,True,False,False,False
17302,17302,Caribbean Hideaway,https://www.imdb.com/title/tt1183926/?ref_=adv...,2008.0,NaN,8.1,18,Add a Plot,False,False,False,False,True,False,False,False,False
8767,8767,Dominator,https://www.imdb.com/title/tt11727114/?ref_=ad...,1989.0,NaN,NaN,NaN,Add a Plot,True,False,False,False,False,False,False,False,False
11095,11095,Goblin Slayer: The Endless Revenge,https://www.imdb.com/title/tt11591374/?ref_=ad...,2019.0,NaN,NaN,NaN,Add a Plot,False,True,False,False,False,False,False,False,False
20744,20744,Rides with Strangers,https://www.imdb.com/title/tt14615582/?ref_=ad...,2016.0,M,NaN,NaN,"You are Elora, a woman rushing to her mother's...",False,False,False,False,False,False,False,False,True
3965,3965,Silver Surfer,https://www.imdb.com/title/tt2198183/?ref_=adv...,1990.0,E,4.7,170,A very difficult NES scrolling shoot 'em up vi...,True,True,False,False,False,True,False,False,False
12826,12826,Unearthing Mars,https://www.imdb.com/title/tt6801652/?ref_=adv...,2017.0,NaN,NaN,NaN,Humans are set out to travel Mars to uncover t...,False,True,False,False,False,False,False,False,False
18806,18806,Rubies of Eventide,https://www.imdb.com/title/tt2204812/?ref_=adv...,2003.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,True,False,False,False
14576,14576,Ninelives,https://www.imdb.com/title/tt9512314/?ref_=adv...,2015.0,NaN,NaN,NaN,Add a Plot,False,True,False,False,False,False,False,False,False
4646,4646,Act of War: Direct Action,https://www.imdb.com/title/tt0446647/?ref_=adv...,2005.0,T,8.3,64,"Act of War is a frightening tale of suspense, ...",True,False,False,False,False,False,False,False,True

6. Crea una lista con el nombre de las columnas.

In [18]:
columnas_df = list(df_videogames.columns)
columnas_df

['Unnamed: 0',
 'name',
 'url',
 'year',
 'certificate',
 'rating',
 'votes',
 'plot',
 'Action',
 'Adventure',
 'Comedy',
 'Crime',
 'Family',
 'Fantasy',
 'Mystery',
 'Sci-Fi',
 'Thriller']

7. Guardar el Dataframe en formato Excel y despu√©s crear un Dataframe con el Excel. ¬øEL Dataframe es similar al que ten√≠ais antes?

In [19]:
df_videogames.to_excel('videogames1.xlsx')

In [20]:
df_videogames

,Unnamed: 0,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20798,20798,"Enjoy Your Power, Enjoy Your Choice",https://www.imdb.com/title/tt3845606/?ref_=adv...,2014.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20799,20799,RedSun2020,https://www.imdb.com/title/tt0790739/?ref_=adv...,2004.0,NaN,NaN,NaN,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True
20800,20800,Shutter,https://www.imdb.com/title/tt5119948/?ref_=adv...,2015.0,NaN,NaN,NaN,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True
20801,20801,The Music Machine,https://www.imdb.com/title/tt5142082/?ref_=adv...,2015.0,NaN,NaN,NaN,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True
20802,20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

8. Muestra la "info" del Dataframe.

In [21]:
df_videogames.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20803 entries, 0 to 20802
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   20803 non-null  int64
 1   name         20803 non-null  object
 2   url          20803 non-null  object
 3   year         20536 non-null  float64
 4   certificate  7903 non-null   object
 5   rating       11600 non-null  float64
 6   votes        11600 non-null  object
 7   plot         20803 non-null  object
 8   Action       20803 non-null  bool
 9   Adventure    20803 non-null  bool
 10  Comedy       20803 non-null  bool
 11  Crime        20803 non-null  bool
 12  Family       20803 non-null  bool
 13  Fantasy      20803 non-null  bool
 14  Mystery      20803 non-null  bool
 15  Sci-Fi       20803 non-null  bool
 16  Thriller     20803 non-null  bool
dtypes: bool(9), float64(2), int64(1), object(5)
memory usage: 1.4+ MB

9. ¬øTiene nulos o duplicados?

In [26]:
df_videogames.duplicated().sum() #No tiene duplicados

0

In [27]:
df_videogames.isnull().sum() #Year, certificate, rating y votes tienen nulos

Unnamed: 0         0
name               0
url                0
year             267
certificate    12900
rating          9203
votes           9203
plot               0
Action             0
Adventure          0
Comedy             0
Crime              0
Family             0
Fantasy            0
Mystery            0
Sci-Fi             0
Thriller           0
dtype: int64

10. Obtener la descripci√≥n del Dataframe, tanto de las columnas num√©ricas c√≥mo de las de tipo "object". Explorar el resultado y sacar unas m√≠nimas comclusiones

In [28]:
df_videogames.describe(include='object')

,name,url,certificate,votes,plot
count,20803,20803,7903,11600,20803
unique,19714,20157,21,1905,11276
top,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,T,7,Add a Plot
freq,9,4,2474,318,8874

In [29]:
df_videogames.describe()

         Unnamed: 0          year        rating
count  20803.000000  20536.000000  11600.000000
mean   10401.000000   2005.568611      7.047526
std     6005.453161     11.846028      1.235204
min        0.000000   1952.000000      1.000000
25%     5200.500000   1997.000000      6.400000
50%    10401.000000   2008.000000      7.200000
75%    15601.500000   2016.000000      7.900000
max    20802.000000   2027.000000      9.700000

En objects nos ha sacado el recuento, los valores √∫nicos y otros datos que tienen relaciones con los elementos no n√∫mericos, mientras que en el segundo nos saca todos los datos relacionados con valores n√∫mericos
como el valor min√≠mo/m√°ximo y porcentajes.

11. Finalmente, guarda el Dataframe en formato "csv" con un nombre diferente del original.

In [31]:
df_videogames.to_csv('videogames2.csv')